.bg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  @media (min-width: 741px) {
    .bg {
      background-image: url(bg-2.jpg);
    }
  }
  @media (orientation: landscape) and (max-width: 740px) {
    .bg {
       background-image: url(bg-2.jpg);
    }
  }
  @media (orientation: portrait) and (max-width: 740px) {
    .bg {
       background-image: url(bg-2.jpg);
    }
  }
